%p
  This is the demo app for ExAdmin. Feel free to checkout the
  %a(href="https://github.com/smpallen99/ex_admin_demo/blob/master/web/admin/#{@model}.ex" target="_blank") source code for this page
  , the 
  %a(href="http://exadmin.info/doc" target="_blank") Documentation
  and the 
  %a(href="https://github.com/smpallen99/ex_admin" target="_blank") Github Repo
  .
